<ion-view hide-nav-bar="true" ng-controller="animatedSplashscreenCtrl" class="background">


<img src="img/splashTriangles.png" id="posTriangleTop" ng-class="{animateTriangles: animateTriangles}">

<img src="img/logoBandeau.png" class="fade-out" id="logoBandeau">

<ion-slide-box class="fade-in tooltip" on-slide-changed="slideChanged(index)" delegate-handle="toolTipSlider" show-pager="true" id="slideBoxTooltip">

<ion-slide>

<p class="titleTooltip posTitleTooltip">ASK ALL OF YOUR FRIENDS TO HELP YOU MAKE A BETTER CHOICE</p>

<p class="posSubtitleTooltip subtitleTooltip">Sensitive question ? Secret gift ? Movie plans ? Add your friends and send them private polls and questions</p>

<p ng-click="toLogin()" class="footerTooltip">Skip the explanations</p>

</ion-slide>

<ion-slide>
<p class="titleTooltip posTitleTooltip">VOTE AND WATCH REAL TIME STATS ABOUT YOUR ZONDER</p>


<p class="posSubtitleTooltip subtitleTooltip">Watch the world vote for your versus in real time and get direct answers to your questions</p>

</ion-slide> 

<ion-slide>
<p class="titleTooltip posTitleTooltip">CREATE YOUR OWN ZONDER QUESTION OR POLL</p>

<p class="posSubtitleTooltip subtitleTooltip">Ask your question, add your choices, set an expiration date and privacy. Wondering has never been simplier</p>

</ion-slide>

<ion-slide>

<form name="loginForm" class="fullHeight" ng-submit="validLogin()" novalidate>
  <div id="divFormLogin">
    <div class="labelZonder" ng-switch on="displayMailError">
      <img class="imgLeft" ng-switch-when="false" src="img/mail.png" width="25">
      <img class="imgLeft" ng-switch-when="true" src="img/mailRed.png" width="25">
      <input class="input" name="mail" type="email" ng-model="user.mail" placeholder="email address" required>
    </div>
    <div class="labelZonder" ng-switch on="displayMailError">
      <img class="imgLeft" ng-switch-when="false" src="img/lock.png" width="25">
      <img class="imgLeft" ng-switch-when="true" src="img/lockRed.png" width="25">
      <input class="input" name="password" type="password" ng-model="user.pass" placeholder="password" required>
    </div>
  </div>

  <div id="divTextAndButton">
    <div class="row" id="rowText">
      <a class="col fontSmallBrandonMedium" id="textLeftInRow" ng-click="openForgotPasswordModal()"><b>PASSWORD ?</b></a>
      <div id="divSeparateurRow"></div>
      <a class="col fontSmallBrandonMedium" id="textRightInRow" ng-click="openRegisterModal()"><b>REGISTER NOW</b></a>
    </div>
    <button class="button buttonZonder" type="submit" id="buttonSignIn">
      SIGN IN
    </button>
  </div>
</form>
</ion-slide>  

</ion-slide-box>

</ion-view>