<ion-view hide-nav-bar="true" ng-controller="forgotPasswordCtrl" class="splashscreenBackground">
<img src="img/splashTriangles.png" style="position:absolute;z-index:10;width:100%;" class="registerTriangles">

<img src="img/close.png" class="imgClick" style="width:28px;z-index:11;position:absolute;left:18px;top:36px;">

    <div style="position:absolute;width:100%;top:27.6%;">
      <label class="item labelZonder">
        <div class="centeredContent">
        	<img src="img/mail.png" style="width:22px">
         	<!-- <img ng-switch-when="true" src="img/mailRed.png" style="width:22px"> -->
        </div>
         <input name="mail" type="email" ng-model="data.mail" placeholder="email address" ng-focus="setDisplayMailErrorFalse()">
      </label>
  </div>

 <!--  <div class="list" style="text-align : center;margin-top:15px;">
    <a class="subdued">  Enter the email address associated with your account to receive a new password 
    </a>
  </div> -->

<button class="button buttonZonder" ng-click="sendNewPassword(data.mail)" style="position:absolute;top:80%;left:50%;margin-left:-40%;top:80%;">
  SEND
</button>

</ion-view>