<ion-side-menus enable-menu-with-back-views="true" ng-controller="mainCtrl" cache-view="false">

<ion-side-menu width="250" class="backgroundSideMenu" side="left" ng-controller="parameterCtrl">

<button menu-close id="closeSideMenu" class="button button-icon">
  <i> <img width="28" src="img/close.png" >
  </i>
</button>

<p id="textMenuSideMenu" class="fontOpenSansExtraBoldSideMenu">MENU</p>

<div id="divMenusSideMenu">
	<div class="optionMenuSideMenu" ng-click="openProfileModal()">
		<img class="imgLeft" width="20" src="img/profile.png">
		<span class="text">Profile</span>
		<img class="imgRight" width="7" src="img/chevronRight.png">
	</div>
	<div class="optionMenuSideMenu">
		<img class="imgLeft" width="20" src="img/loupe.png">
		<span class="text">Find Friends</span>
		<img class="imgRight" width="7" src="img/chevronRight.png">
	</div>
	<div class="optionMenuSideMenu" ng-click="openCreateZonderModal()">
		<img class="imgLeft" width="20" src="img/poll.png">
		<span class="text">Create Zonder</span>
		<img class="imgRight" width="7" src="img/chevronRight.png">
	</div>
</div>

<div id="divOptionToggleMenu">
	<div class="optionToggleMenu">
		<span class="text">Friends notifications</span>
		<div class="toggleDiv" ng-click="changeAcceptNotifFriends()">
			<label class=" toggle">
				<input type="checkbox" ng-model="acceptNotifFriends">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</div>
	</div>
	<div class="optionToggleMenu">
		<span class="text">Zonder notifications</span>
		<div class="toggleDiv" ng-click="changeAcceptNotifPolls()">
			<label class=" toggle">
				<input type="checkbox" ng-model="acceptNotifPolls">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</div>
	</div>
	<div class="logoutSideMenu" ng-click="logOut()">
		<img width="20" class="imgLeft" src="img/logout.png">
		<span class="text">Log out</span>
	</div>
</div>

</ion-side-menu>

<ion-side-menu-content ng-controller="homeCtrl" class="background">

<div ng-if="divOpacity" fade-directive class="overlaySideMenu"></div>

<div ng-if="showHome">

<div ng-class="{infoCreateZonderTranslateUp:!showInfoCreateZonder,infoCreateZonderTranslateDown:showInfoCreateZonder}" style="z-index:2000;position:absolute;top:-46px;left:0px;height:46px;width:100%;background-color: #00B0B9;text-align:center" class="brandonBold">
	<br>
	<br>
Your zonder has been created, well done !!
</div>

<div ng-class="{infoCreateZonderTranslateUp:!showInfoErrorCreateZonder,infoCreateZonderTranslateDown:showInfoErrorCreateZonder}" style="z-index:2000;position:absolute;top:-46px;left:0px;height:46px;width:100%;background-color: #E04E39;text-align:center" class="brandonBold">
	<br>
	<br>
Oups your zonder is lost, try again !!
</div>

<div id="triangles"> <img style="width:100%" src="img/splashTriangles.png" ></div>

  <button id="posButtonMenu" menu-toggle="left" class="button button-icon">
    <i> <img width="22" src="img/menu.png" >
    </i>
  </button>

<img src="{{myPhoto}}" ng-click="goToProfile()" class="profilImg">
<label class="fontBrandonBlack" id="posPseudoUser">{{myPseudo}}</label>

<div class="divTransparency"></div>

<div class="posHeader">
	<div class="divHeader">
		<div class="row rowHeader">
			<div class="col colHeader colorJaunePale"></div>
			<div class="col colHeader colorJaunePoussin"></div>
			<div class="col colHeader colorJauneOrange"></div>
		</div>
	</div>

	<div class="divHeader" style="z-index:15">
		<div class="row rowHeader">
			<div class="col colHeader imgClick">
				<div ng-click="goToSlide(0)" class="ongletHeader">
					<img src="img/vote.png" width="28" class="imgHeader">
					<span class="fontBrandonBlackMenu spanHeader">Vote</span>
				</div>
			</div>
			<div class="col colHeader imgClick">
				<div ng-click="goToSlide(1)" class="ongletHeader">
					<img src="img/poll.png" width="28" class="imgHeader">
					<span class="fontBrandonBlackMenu spanHeader">Zonder</span>
				</div>
			</div>
			<div class="col colHeader imgClick">
				<div ng-click="goToSlide(2)" style="position:relative" class="ongletHeader">
					<img src="img/friends.png" width="28" class="imgHeader">
					<img ng-if="requestFriends.length" style="position:absolute;top:6%;left:58%;" width="12" src="img/notification.png">
					<span class="fontBrandonBlackMenu spanHeaderFriends">Friends</span>

				</div>
			</div>
		</div>
	</div>
</div>


<div ng-switch on="loadingCreateZonder" class="divSelectorTab">
	<div ng-switch-when="false" style="position:relative;height:100%;width:100%" ng-class="{colorJaunePale:sliderVote, colorJaunePoussin:sliderPolls, colorJauneOrange:sliderFriends}"></div>

	<div ng-switch-when="true" class="loader go">
		<div class="loader-element jaunePaleLoad"></div>
		<div class="loader-element jaunePoussinLoad"></div>
		<div class="loader-element jauneOrangeLoad"></div>
	</div>
</div>

<ion-slide-box id="sliderBoxHome" delegate-handle="homeSlider" show-pager="false" on-slide-changed="slideHasChangedInHomeSlider($index)">

<!-- /////////////// vote //////////////// -->


<ion-slide ng-controller="answerZonderCtrl" class="heightIonSlide">
<ion-scroll direction="y" has-bouncing="false" class="heightIonScroll" delegate-handle="vertical">
<div class="divContentZonder marginTopPullUp">

	<div class="headerZonder">

		<img width="46" height="46" style="border:1px solid #dadada;" class="roundImage" src="{{pollUp.authorPhoto}}">

		<div class="contentHeader">
			<div class="contentHeaderHeader">
				<p class="sizeContentPseudo fontPseudoZonder"> {{pollUp.authorPseudo}} <span class="fontPseudoTextZonder">created a zonder</span></p>
				<p class="posTimer fontTimeZonder"> {{pollUp.timeElapsedHours}}h{{pollUp.timeElapsedMinutes}} ago</p>
			</div>

			<div class="contentHeaderFooter" >
				<p class="fontQuestionZonder questionPosStyle">{{pollUp.question}}
				</p>

				<button ng-click="showActionsheetAnswerZonderUp()" class="button button-icon posWheel" style="padding-right:0">
					<i> <img width="14" src="img/wheelOption.png" >
					</i>
				</button>
			</div>

		</div>

	</div>

	<div class="contentPhotos">
		<div class="contentPhotoLeft" on-double-tap="votePollUp(pollUp.id, 'left')">
			<img ng-style="{'width': imgPollUpLeftInfo.imgWidth + 'px', 'height': imgPollUpLeftInfo.imgHeight + 'px', 'margin-left': imgPollUpLeftInfo.positionLeft + 'px', 'margin-top': imgPollUpLeftInfo.positionTop + 'px'}" src="{{pollUp.photoLeft}}">
			<p class="fontTitlePhotoZonder" ng-class="{titlePhoto : displayPhotoTitle}">{{pollUp.firstName}}</p>
		</div>
		<div class="contentPhotoLeft" on-double-tap="votePollUp(pollUp.id, 'right')">
			<img ng-style="{'width': imgPollUpRightInfo.imgWidth + 'px', 'height': imgPollUpRightInfo.imgHeight + 'px', 'margin-left': imgPollUpRightInfo.positionLeft + 'px', 'margin-top': imgPollUpRightInfo.positionTop + 'px'}" src="{{pollUp.photoRight}}">
			<p class="fontTitlePhotoZonder" ng-class="{titlePhoto : displayPhotoTitle}">{{pollUp.secondName}}</p>
		</div>
	</div>

	<div class="footerZonder">
		<div class="contentVotesComments"> 
			<div class="fontVoteCommentsZonder">{{pollUp.votes}} <span class="fontVoteCommentsTextZonder">votes</span></div>
			<div class="fontVoteCommentsZonder marginComments">{{pollUp.comments.length}} <span class="fontVoteCommentsTextZonder">comments</span></div>
		</div>


		<button style="padding-right:0;" ng-click="openCommentsModalUp()" class="button button-icon contentIconFavouriteComments">
			<i style="margin-top:-18px;"> <img width="20" src="img/commentsIcon.png" >
			</i>
		</button>
	</div>

</div>

<div class="divSeparator">
	<div class="separatorLeft"></div>
	<img width="5%" style="margin-left:5vw;margin-right:5vw;margin-top:-2.2%" src="img/logo.png">
	<div class="separatorRight"></div>
</div>


<div class="divContentZonder">

	<div class="headerZonder">

		<img width="46" height="46" style="border:1px solid #dadada;" class="roundImage" src="{{pollDown.authorPhoto}}">

		<div class="contentHeader">
			<div class="contentHeaderHeader">
				<p class="sizeContentPseudo fontPseudoZonder">{{pollDown.authorPseudo}} <span class="fontPseudoTextZonder">created a zonder</span></p>
				<p class="posTimer fontTimeZonder">{{pollDown.timeElapsedHours}}h{{pollDown.timeElapsedMinutes}} ago</p>
			</div>

			<div class="contentHeaderFooter">
				<p class="fontQuestionZonder questionPosStyle">{{pollDown.question}}
				</p>
				<button ng-click="showActionsheetAnswerZonderDown()" class="button button-icon posWheel" style="padding-right:0">
					<i> <img width="14" src="img/wheelOption.png" >
					</i>
				</button>
			</div>

		</div>

	</div>

	<div class="contentPhotos">
		<div class="contentPhotoLeft" on-double-tap="votePollDown(pollDown.id, 'left')">
			<img ng-style="{'width': imgPollDownLeftInfo.imgWidth + 'px', 'height': imgPollDownLeftInfo.imgHeight + 'px', 'margin-left': imgPollDownLeftInfo.positionLeft + 'px', 'margin-top': imgPollDownLeftInfo.positionTop + 'px'}" src="{{pollDown.photoLeft}}">
			<p class="fontTitlePhotoZonder" ng-class="{titlePhoto : displayPhotoTitle}">{{pollDown.firstName}}</p>
		</div>
		<div class="contentPhotoLeft" on-double-tap="votePollDown(pollDown.id, 'right')">
			<img ng-style="{'width': imgPollDownRightInfo.imgWidth + 'px', 'height': imgPollDownRightInfo.imgHeight + 'px', 'margin-left': imgPollDownRightInfo.positionLeft + 'px', 'margin-top': imgPollDownRightInfo.positionTop + 'px'}" src="{{pollDown.photoRight}}">
			<p class="fontTitlePhotoZonder" ng-class="{titlePhoto : displayPhotoTitle}">{{pollDown.secondName}}</p>
		</div>
	</div>

	<div class="footerZonder">
		<div class="contentVotesComments"> 
			<div class="fontVoteCommentsZonder">{{pollDown.votes}} <span class="fontVoteCommentsTextZonder">votes</span></div>
			<div class="fontVoteCommentsZonder marginComments">{{pollDown.comments.length}} <span class="fontVoteCommentsTextZonder">comments</span></div>
		</div>

		<button style="padding-right:0;" ng-click="openCommentsModalDown()" class="button button-icon contentIconFavouriteComments">
			<i style="margin-top:-18px;"> <img width="20" src="img/commentsIcon.png" >
			</i>
		</button>
	</div>

</div>
</ion-scroll>

</ion-slide>


<!-- /////////////// poll //////////////// -->

<ion-slide ng-controller="pollsCtrl" class="heightIonSlide" >
<ion-scroll direction="y" has-bouncing="false" class="heightIonScroll" delegate-handle="vertical">

<ion-refresher ng-show="!loadingPolls" pulling-icon="ion-chevron-down" spinner="spiral" on-refresh="pullToRefresh()"></ion-refresher>

<div ng-show="!displayPolls.length && !loadingPolls" class="sample-show-hide" style="position:relative;left:10vw;top:5vh;width:80vw;height:30px;text-align:center;">
    <span class="titlePopup" style="width:100vw;color:#939191;font-size:14px;background: transparent">You have no voted zonder yet !</span>
</div>

<div ng-show="loadingPolls" ng-class="{translateLoadingHide:!loadingPolls,translateLoadingShow:loadingPolls}" style="position:absolute;top:-10vh;left:0;width:100vw;height:10vh;" class="centeredContent">
	<ion-spinner class="spinnerLoadingBlack" icon="spiral" ng-class="{scaleLoadingDown:!loadingPolls,scaleLoadingUp:loadingPolls}" style="margin-top:-5px"></ion-spinner>
</div>	

<div ng-class="{translateLoadingHide:!loadingPolls,translateLoadingShowPoll:loadingPolls,fadeOutNoDelay:poll.isRemoved}" ng-repeat="poll in displayPolls" class="divContentZonder marginTopPullUp deletescalezonder"  >

	<div class="headerZonder">

		<img width="46" height="46" style="border:1px solid #dadada;" class="roundImage" src="{{poll.authorPhoto}}">

		<div class="contentHeader">
			<div class="contentHeaderHeader">
				<p ng-click="openPollModal(poll)" class="sizeContentPseudo fontPseudoZonder"> {{poll.authorPseudo}} </p>
				<p ng-click="openPollModal(poll)" ng-if="!poll.timeElapsedDays" class="posTimer fontTimeZonder"> {{poll.timeElapsedHours}}h{{poll.timeElapsedMinutes}} ago </p>
				<p ng-click="openPollModal(poll)" ng-if="poll.timeElapsedDays<31" class="posTimer fontTimeZonder"> {{poll.timeElapsedDays}} days ago </p>
				<p ng-click="openPollModal(poll)" ng-if="poll.timeElapsedDays>31" class="posTimer fontTimeZonder"> months ago </p>
			</div>
			<div class="contentHeaderFooter">
				<p ng-click="openPollModal(poll)" class="fontQuestionZonder questionPosStyle"> {{poll.question}}</p>

				<button ng-click="showActionSheetPollWheelChoiceChoice(poll.id)" class="button button-icon posWheel" style="padding-right:0">
					<i> <img width="14" src="img/wheelOption.png" >
					</i>
				</button>
			</div>
		</div>

	</div>

	<div class="contentProgressionPoll" ng-click="openPollModal(poll)">

		<div class="contentProgressionBar">
			<div class="contentBarPhotoLeft" ng-style="{'width' : poll.pourcentagePhotoLeft + '%'}">
				<p ng-if="poll.pourcentagePhotoLeft>0 && poll.pourcentagePhotoLeft<=15" class="fontVotePhotoZonder">{{poll.photoLeftVote}} votes</p>
				<p ng-if="poll.pourcentagePhotoLeft>15 && poll.pourcentagePhotoLeft<=40" class="fontVotePhotoZonder">{{poll.photoLeftVote}} votes</p>
				<p ng-if="poll.pourcentagePhotoLeft>40" class="fontVotePhotoZonder">{{poll.photoLeftVote}} votes</p>

			</div>
		</div>

		<div class="contentProgressionBar" ng-click="openPollModal(poll)"> 
			<div class="contentBarPhotoRight" ng-style="{'width' : poll.pourcentagePhotoRight + '%'}">
				<p ng-if="poll.pourcentagePhotoRight>0 && poll.pourcentagePhotoRight<=15" class="fontVotePhotoZonder">{{poll.photoRightVote}} votes</p>
				<p ng-if="poll.pourcentagePhotoRight>15 && poll.pourcentagePhotoRight<=40" class="fontVotePhotoZonder">{{poll.photoRightVote}} votes</p>
				<p ng-if="poll.pourcentagePhotoRight>40" class="fontVotePhotoZonder">{{poll.photoRightVote}} votes</p>
			</div>
		</div>
	</div>

	<div class="contentPhotosPoll" ng-click="openPollModal(poll)">
		<div class="contentPhotoLeft">
			<img ng-style="{'width': poll.specImgLeftWidth + 'px', 'height': poll.specImgLeftHeight + 'px', 'margin-left': poll.specImgLeftPositionLeft + 'px', 'margin-top': poll.specImgLeftPositionTop + 'px'}" src="{{poll.photoLeft}}">
			<p class="fontTitlePhotoZonder titlePhoto">{{poll.firstName}}</p>
		</div>
		<div class="contentPhotoLeft">
			<img ng-style="{'width': poll.specImgRightWidth + 'px', 'height': poll.specImgRightHeight + 'px', 'margin-left': poll.specImgRightPositionLeft + 'px', 'margin-top': poll.specImgRightPositionTop + 'px'}" src="{{poll.photoRight}}">
			<p class="fontTitlePhotoZonder titlePhoto">{{poll.secondName}}</p>
		</div>
	</div>

	<div class="footerZonder" ng-click="openPollModal(poll)">
		<div class="contentVotesComments"> 
			<div class="fontVoteCommentsZonder">{{poll.votes}} <span class="fontVoteCommentsTextZonder">votes</span></div>
			<div class="fontVoteCommentsZonder marginComments">{{poll.comments.length}} <span class="fontVoteCommentsTextZonder">comments</span></div>
		</div>
	</div>
	<div class="separatorZonder"></div>
</div>

<ion-infinite-scroll spinner="spiral" ng-if="displayInfiniteScroll" on-infinite="loadPollsCtrl(true)" immediate-check="false">
</ion-infinite-scroll>

</ion-scroll>
</ion-slide>



<!-- /////////////// friends //////////////// -->


<ion-slide ng-controller="friendsCtrl" class="heightIonSlide">

<ion-scroll direction="y" has-bouncing="false" class="heightIonScroll" delegate-handle="vertical">

<div ng-show="!displayRequestFriends.length && !displayFriends.length && !loadingFriends" class="sample-show-hide" style="position:relative;left:10%;top:5vh;width:80%;height:30px;text-align:center;">
    <span class="titlePopup" style="width:100%;color:#939191;font-size:14px;background: transparent">You have no friends yet, find them !</span>
</div>

<div ng-show="loadingFriends" ng-class="{translateLoadingHide:!loadingFriends,translateLoadingShow:loadingFriends}" style="position:absolute;top:-10vh;left:0;width:100%;height:10vh;" class="centeredContent">
	<ion-spinner class="spinnerLoadingBlack" icon="spiral" ng-class="{scaleLoadingDown:!loadingFriends,scaleLoadingUp:loadingFriends}" style="margin-top:-5px"></ion-spinner>
</div>

<div ng-repeat="requestFriend in displayRequestFriends" ng-class="{translateLoadingHide:!loadingFriends,translateLoadingShow:loadingFriends}" class="contentItemFriend deletescalefriend">
	<div class="contentFriend">
		<img width="48" height="48" style="border:1px solid #dadada;" class="roundImage" src="{{requestFriend.photo}}">
		<img class="posNotification" width="10" src="img/notification.png">
		<div class="contentTextFriend" >
			<p class="fontPseudoNewFriends"> {{requestFriend.pseudo}} 
				<span class="fontNewFriendsInformation">is asking you as a friend</span>
			</p>
			<div class="contentFlexFlexStart"> 
				<p class="fontPollsFriends">{{requestFriend.nbPolls}} <span class="fontPollsFriendsText">zonders</span></p>
				<div style="margin-left:2px;margin-right:2px"class="fontPollsFriendsText">/</div>
				<p class="fontPollsFriends">{{requestFriend.nbFriends}} <span class="fontPollsFriendsText">friends</span></p>
			</div>
			<p class="fontFooterFriends" style="margin-top:8px"> See {{requestFriend.pseudo}}’s profile </p>
		</div>
	</div> 
	<div class="contentFriendActionSheet" ng-click="showActionSheetRequestFriends(requestFriend.id)">
		<img width="5" class="imgClick"  src="img/actionSheetVertical.png">
	</div>
</div>

<div ng-repeat="friend in displayFriends" ng-class="{translateLoadingHide:!loadingFriends,translateLoadingShow:loadingFriends}" class="contentItemFriend deletescalefriend">
	<div class="contentFriend">
		<img width="48" height="48" style="border:1px solid #dadada;" class="roundImage" src="{{friend.photo}}">
		<div class="contentTextFriend">
			<p class="fontPseudoFriends"> {{friend.pseudo}}
			</p>
			<div class="contentFlexFlexStart"> 
				<p class="fontPollsFriends">{{friend.nbPolls}} <span class="fontPollsFriendsText">zonders</span></p>
				<div style="margin-left:2px;margin-right:2px"class="fontPollsFriendsText">/</div>
				<p class="fontPollsFriends">{{friend.nbFriends}} <span class="fontPollsFriendsText">friends</span></p>
			</div>
			<p class="fontFooterFriends" style="margin-top:10px"> See {{friend.pseudo}}’s profile </p>
		</div>
	</div> 
	<div class="contentFriendActionSheet" ng-click="showActionSheetFriends(friend.id)">
		<img width="5" class="imgClick" src="img/actionSheetVertical.png">
	</div>
</div>

<ion-infinite-scroll spinner="spiral" ng-if="displayInfiniteScrollForFriends && !loadingFriends" on-infinite="loadFriendsCtrl(true)" immediate-check="false">
</ion-infinite-scroll>
</ion-scroll>
</ion-slide>

</ion-slide-box>

<div ng-show="sliderVote || sliderPolls" class="buttonfooter" ng-click="openCreateZonderModal()">
	<img src="img/plus.png" width="16">
	<span class="brandonBold" id="createPoll">create a zonder</span>
</div>

<div ng-show="sliderFriends" class="buttonfooter">
	<img src="img/plus.png" width="16">
	<span class="brandonBold" id="findFriends">find friends</span>
</div>

</div>
</ion-side-menu-content>

</ion-side-menus>