<ion-side-menus enable-menu-with-back-views="true" ng-controller="mainCtrl">

<ion-side-menu width="250" class="backgroundSideMenu" side="left" ng-controller="parameterCtrl">

<img id="closeSideMenu" class="imgClick" menu-close src="img/close.png">
<p id="textMenuSideMenu" class="fontOpenSansExtraBoldSideMenu">MENU</p>

<div id="divMenusSideMenu">
	<div class="optionMenuSideMenu" ng-click="openProfileModal()">
		<img class="imgLeft" width="20" src="img/profile.png">
		<span class="text">Profile</span>
		<img class="imgRight" width="7" src="img/chevronRight.png">
	</div>
	<div class="optionMenuSideMenu">
		<img class="imgLeft" width="20" src="img/loupe.png">
		<span class="text">Find Friends</span>
		<img class="imgRight" width="7" src="img/chevronRight.png">
	</div>
	<div class="optionMenuSideMenu" ng-click="openCreateZonderModal()">
		<img class="imgLeft" width="20" src="img/poll.png">
		<span class="text">Create Zonder</span>
		<img class="imgRight" width="7" src="img/chevronRight.png">
	</div>
</div>

<div id="divOptionToggleMenu">
	<div class="optionToggleMenu">
		<span class="text">Friends notifications</span>
		<div class="toggleDiv">
			<label class=" toggle">
				<input type="checkbox">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</div>
	</div>
	<div class="optionToggleMenu">
		<span class="text">Zonder notifications</span>
		<div class="toggleDiv">
			<label class=" toggle">
				<input type="checkbox">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</div>
	</div>
	<div class="logoutSideMenu" menu-close ng-click="logOut()">
		<img width="20" class="imgLeft" src="img/logout.png">
		<span class="text">Log out</span>
	</div>
</div>
 
</ion-side-menu>

<ion-side-menu-content ng-controller="homeCtrl" class="background">
<div ng-if="divOpacity" fade-directive class="overlaySideMenu"></div>

<div id="triangles"> <img style="width:100%" src="img/splashTriangles.png" ></div>

 <img src="img/menu.png" menu-toggle="left" id="posButtonMenu" class="imgClick sizeButtonImage">
  <img src="{{myPhoto}}" ng-click="showActionSheetPhotoSource()" class="profilImg">
  <label class="fontBrandonBlack" id="posPseudoUser">{{myPseudo}}</label>

<div class="divTransparency"></div>

<div class="posHeader">
<div class="divHeader">
<div class="row rowHeader">
    <div class="col colHeader colorJaunePale"></div>
    <div class="col colHeader colorJaunePoussin"></div>
    <div class="col colHeader colorJauneOrange"></div>
</div>
</div>

<div class="divHeader" style="z-index:15">
<div class="row rowHeader">
    <div class="col colHeader imgClick">
    	<div ng-click="goToSlide(0)" class="ongletHeader">
    		<img src="img/vote.png" width="28" class="imgHeader">
    		<span class="fontBrandonBlackMenu spanHeader">Vote</span>
    	</div>
    </div>
    <div class="col colHeader imgClick">
    	<div ng-click="goToSlide(1)" class="ongletHeader">
    	<img src="img/poll.png" width="28" class="imgHeader">
    	<span class="fontBrandonBlackMenu spanHeader">Zonder</span>
    	</div>
    </div>
    <div class="col colHeader imgClick">
    	<div ng-click="goToSlide(2)" style="position:relative" class="ongletHeader">
    		<img src="img/friends.png" width="28" class="imgHeader">
    		<img style="position:absolute;top:6%;left:58%;" width="12" src="img/notification.png">
    		<span class="fontBrandonBlackMenu spanHeaderFriends">Friends</span>
    		
    	</div>
    </div>
</div>
</div>
</div>

<div class="divSelectorTab" ng-class="{colorJaunePale:sliderVote, colorJaunePoussin:sliderPolls, colorJauneOrange:sliderFriends}"></div>

<ion-slide-box id="sliderBoxHome" delegate-handle="homeSlider" show-pager="false" on-slide-changed="slideHasChangedInHomeSlider($index)">

<!-- /////////////// vote //////////////// -->


<ion-slide ng-controller="answerZonderCtrl" class="heightIonSlide">
<div class="divContentZonder">

<div class="headerZonder">

	<img width="46" height="46" class="roundImage" src="{{pollUp.author.photo}}">

	<div class="contentHeader">
		<div class="contentHeaderHeader">
		<p class="sizeContentPseudo fontPseudoZonder"> {{pollUp.author.pseudo}} <span class="fontPseudoTextZonder">created a zonder</span></p>
		<p class="posTimer fontTimeZonder"> 12h55 ago</p>
		</div>
		
		<div class="contentHeaderFooter" >
			<p class="fontQuestionZonder questionPosStyle">{{pollUp.question}}
		</p>
		<img width="13" class="posWheel" src="img/wheelOption.png">
		</div>
		
	</div>

</div>

<div class="contentPhotos">
<div class="contentPhotoLeft">
	<!--  -->
<img ng-style="{'width': imgPollUpLeftInfo.imgWidth + 'px', 'height': imgPollUpLeftInfo.imgHeight + 'px', 'margin-left': imgPollUpLeftInfo.positionLeft + 'px', 'margin-top': imgPollUpLeftInfo.positionTop + 'px'}" src="{{pollUp.photoLeft}}">
<p class="fontTitlePhotoZonder titlePhoto">{{pollUp.firstName}}</p>
</div>
<div class="contentPhotoLeft">
	<!--  -->
<img ng-style="{'width': imgPollUpRightInfo.imgWidth + 'px', 'height': imgPollUpRightInfo.imgHeight + 'px', 'margin-left': imgPollUpRightInfo.positionLeft + 'px', 'margin-top': imgPollUpRightInfo.positionTop + 'px'}" src="{{pollUp.photoRight}}">
<p class="fontTitlePhotoZonder titlePhoto">{{pollUp.secondName}}</p>
</div>
</div>

<div class="footerZonder">
	<div class="contentVotesComments"> 
		<div class="fontVoteCommentsZonder">{{pollUp.votes}} <span class="fontVoteCommentsTextZonder">votes</span></div>
		<div class="fontVoteCommentsZonder marginComments">{{pollUp.comments.length}} <span class="fontVoteCommentsTextZonder">comments</span></div>
	</div>
<div class="contentIconFavouriteComments"> 
	<img width="12" src="img/favoritIcon.png">
	<img width="18" class="marginIconComments" src="img/commentsIcon.png">
</div>

 </div>

</div>

<div class="separator"></div>


<div class="divContentZonder">

<div class="headerZonder">

	<img width="46" height="46" class="roundImage" src="{{pollDown.author.photo}}">

	<div class="contentHeader">
		<div class="contentHeaderHeader">
		<p class="sizeContentPseudo fontPseudoZonder">{{pollDown.author.pseudo}} <span class="fontPseudoTextZonder">created a zonder</span></p>
		<p class="posTimer fontTimeZonder">12h55 ago</p>
		</div>
		
		<div class="contentHeaderFooter">
			<p class="fontQuestionZonder questionPosStyle">{{pollDown.question}}
		</p>
		<img width="13" class="posWheel" src="img/wheelOption.png">
		</div>
		
	</div>

</div>

<div class="contentPhotos">
<div class="contentPhotoLeft">
	<!--  -->
<img ng-style="{'width': imgPollDownLeftInfo.imgWidth + 'px', 'height': imgPollDownLeftInfo.imgHeight + 'px', 'margin-left': imgPollDownLeftInfo.positionLeft + 'px', 'margin-top': imgPollDownLeftInfo.positionTop + 'px'}" src="{{pollDown.photoLeft}}">
<p class="fontTitlePhotoZonder titlePhoto">{{pollDown.firstName}}</p>
</div>
<div class="contentPhotoLeft">
	<!--  -->
<img ng-style="{'width': imgPollDownRightInfo.imgWidth + 'px', 'height': imgPollDownRightInfo.imgHeight + 'px', 'margin-left': imgPollDownRightInfo.positionLeft + 'px', 'margin-top': imgPollDownRightInfo.positionTop + 'px'}" src="{{pollDown.photoRight}}">
<p class="fontTitlePhotoZonder titlePhoto">{{pollDown.secondName}}</p>
</div>
</div>

<div class="footerZonder">
	<div class="contentVotesComments"> 
		<div class="fontVoteCommentsZonder">{{pollDown.votes}} <span class="fontVoteCommentsTextZonder">votes</span></div>
		<div class="fontVoteCommentsZonder marginComments">{{pollDown.comments.length}} <span class="fontVoteCommentsTextZonder">comments</span></div>
	</div>
<div class="contentIconFavouriteComments"> 
	<img width="12" src="img/favoritIcon.png">
	<img width="18" class="marginIconComments" src="img/commentsIcon.png">
</div>

 </div>

</div>
</ion-slide>

<!-- /////////////// poll //////////////// -->


<ion-slide ng-controller="pollsCtrl" class="heightIonSlide" >
<div class="divContentZonder">

<div class="headerZonder">

	<img width="46" src="img/louis.png">

	<div class="contentHeader">
		<div class="contentHeaderHeader">
		<p class="sizeContentPseudo fontPseudoZonder"> Louis </p>
		<p class="posTimer fontTimeZonder"> 12h55 ago</p>
		</div>
		
		<div class="contentHeaderFooter">
			<p class="fontQuestionZonder questionPosStyle">Do you prefer the mountains or the sea for a summer camp ?
		</p>
		<img width="13" class="posWheel" src="img/wheelOption.png">
		</div>
		
	</div>

</div>

<div class="contentProgressionPoll">

<div class="contentProgressionBar">
<div class="contentBarPhotoLeft">
<p class="fontVotePhotoZonder">60 votes</p>
</div>
</div>

<div class="contentProgressionBar">
<div class="contentBarPhotoRight">
<p class="fontVotePhotoZonder">40 votes</p>
</div>
</div>
</div>

<div class="contentPhotosPoll">
<div class="contentPhotoLeft">
<img width="100%" src="img/imageLeftPoll.png">
<p class="fontTitlePhotoZonder titlePhoto">montains</p>
</div>
<div class="contentPhotoLeft">
<img width="100%" src="img/imageRightPoll.png">
<p class="fontTitlePhotoZonder titlePhoto">sea</p>
</div>
</div>

<div class="footerZonder">
	<div class="contentVotesComments"> 
		<div class="fontVoteCommentsZonder">148 <span class="fontVoteCommentsTextZonder">votes</span></div>
		<div class="fontVoteCommentsZonder marginComments">12 <span class="fontVoteCommentsTextZonder">comments</span></div>
	</div>
<div class="contentIconFavouriteComments"> 
	<img width="18" class="marginIconComments" src="img/commentsIcon.png">
</div>

 </div>

</div>

<div class="separator"></div>
</ion-slide>

<!-- /////////////// friends //////////////// -->


<ion-slide ng-controller="friendsCtrl" class="heightIonSlide">

<div class="contentItemFriend">
<img width="46" src="img/louis.png">
<img class="posNotification" width="10" src="img/notification.png">
<div class="contentTextFriend">
<p class="fontPseudoNewFriends"> Louis 
  <span class="fontNewFriendsInformation">is asking you as a friend</span>
<!-- <span class="fontNewFriendsInformation">received your invitation</span>  -->
</p>
<div class="contentFlexFlexStart"> 
    <p class="fontPollsFriends">10 <span class="fontPollsFriendsText">zonders</span></p>
    <div style="margin-left:2px;margin-right:2px"class="fontPollsFriendsText">/</div>
    <p class="fontPollsFriends">121 <span class="fontPollsFriendsText">friends</span></p>
</div>
<p class="fontFooterFriends" style="margin-top:10px"> See Louis’s profile </p>
</div>
</div>
</ion-slide>
</ion-slide-box>

<div ng-show="sliderVote || sliderPolls" class="buttonfooter" ng-click="openCreateZonderModal()">
<img src="img/plus.png" width="16">
<span class="brandonBold" id="createPoll">create a zonder</span>
</div>

<div ng-show="sliderFriends" class="buttonfooter">
<img src="img/plus.png" width="16">
<span class="brandonBold" id="findFriends">find friends</span>
</div>

</ion-side-menu-content>

</ion-side-menus>