<ion-side-menus enable-menu-with-back-views="true">

<ion-side-menu width="225" style="background-image:url('img/background.jpg');background-size:cover;" side="left">

<ion-content>
<!-- <button style="position:relative;margin-top:70px;width:100%;" ng-click="openProfilModal()" class="button button-clear">
	<span style="font-size:22px;position:absolute;left:70px;">Profil</span>
	<i class="icon ion-person energized" style="position:absolute;left:30px;margin-top:1px"></i>
  <i class="icon ion-ios7-arrow-right energized" style="position:absolute;right:8px;margin-top:2px"></i>
</button> -->

</ion-content>
</ion-side-menu>


<ion-side-menu-content ng-controller="homeCtrl" class="splashscreenBackground">

<!-- <div style=padding:0;position:relative;height:70px;">
</div> -->
<img src="img/splashTriangles.png" style="position:absolute;z-index:10;width:100%;" class="triangles">
<!-- <div class="row" style="position:relative;padding:0;margin:0;top:74px;height:50px;">
    <a class="col button button-clear" style="border:1px solid red;font-size:16px;color:#ffffff;"><b>Vote</b></a>
    <a class="col button button-clear" style="border:1px solid blue;font-size:16px;color:#ffffff;" ><b>Polls</b></a>
    <a class="col button button-clear" style="border:1px solid yellow;font-size:16px;color:#ffffff;"><b>Friends</b></a>
</div> -->
<!-- <div  style="width:100%;height:10px;background-color:#fcdd86"></div> -->
  <img src="img/menu.png" menu-toggle="left" class="imgClick" style="width:20px;z-index:11;position:absolute;left:5vw;top:32px;">
  <img src="img/profilTest.png" class="imgClick profilImg">
  <label class="fontBrandonBlack" style="z-index:11;text-transform:uppercase;position:absolute;right:20vw;top:40px;">Manuel</label>

<!-- <ion-slide-box show-pager="false"> -->

<!-- ////////////////////// Answer sondr ///////////////////////////// -->

<!-- <ion-slide>
tata
</ion-slide> -->

<!-- ////////////////////// Poll ///////////////////////////// -->


<!-- <ion-slide>
arthur tu es chiant
</ion-slide> -->


<!-- ////////////////////// Friends ///////////////////////////// -->

<!-- <ion-slide>
toto
</ion-slide>
</ion-slide-box>  -->
</ion-side-menu-content>

</ion-side-menus>