<div style="position:absolute;left:0;top:0;width:100vw;height:100vh;" class="background">

<img src="img/splashTriangles.png" class="posTriangleTopLoadingLogin">

<div id="load">
<img src="img/partie1.png" width="71px" style="opacity:0;position:absolute;left:0;top:0;z-index:1">
<img src="img/partie2.png" width="140px" height="30px" style="opacity:0;position:absolute;left:0;top:0;z-index:6">
<span></span>
<img src="img/partie3.png" width="70px" style="opacity:0;position:absolute;left:70px;top:0;z-index:3">
<span></span>
<img src="img/partie4.png" width="71px" height="96px" style="opacity:0;position:absolute;left:0;top:0;margin-top:26px;z-index:2">
<img src="img/partie6.png" width="140px" height="30px" style="opacity:0;position:absolute;left:0;top:0;margin-top:92px;z-index:6">
<img src="img/partie5.png" width="70px" height="66px" style="opacity:0;position:absolute;left:70px;top:0;margin-top:57px;z-index:1">
</div>


<img src="img/zonderLoading.png" style="width:70vw;position:absolute;top:65vh;left:50%;margin-left:-35vw">

</div>