<ion-view hide-nav-bar="true" ng-controller="registerCtrl" class="resgisterBackground" >
<img src="img/splashTriangles.png" style="z-index:10;width:100%;" class="registerTriangles">

<ion-slide-box on-slide-changed="slideChanged(index)" ng-init="disableSwipe()" show-pager="true" style="position:absolute;top:0;width:100%;height:100%;">

<ion-slide>

<form name="registerFirstStepForm" novalidate>

	<div style="position:absolute;top:27%;width:100%">
		<label class="item labelZonder">
			<div class="centeredContent">
				<img src="img/mail.png" style="width:22px;">
			</div>
			<input name="email" type="email" ng-model="userData.mail" placeholder="email address" ng-maxlength="50" required>
		</label>

		<label class="item labelZonder">
			<div class="centeredContent">
				<img src="img/lock.png" style="width:17px;height:22px;">
			</div>
			<input name="password" type="password" ng-model="userData.password"  placeholder="password" ng-minlength="6" ng-pattern="/^[A-z][A-z0-9]*$/" ng-maxlength="20" required>
		</label>

		<label class="item labelZonder">
			<div class="centeredContent">
				<img src="img/lock.png" style="width:17px;height:22px;">
			</div>
			<input name="confirmpassword" type="password" ng-minlength="6" ng-pattern="/^[A-z][A-z0-9]*$/" ng-model="userData.confirmPassword" placeholder="confirm password" ng-maxlength="20" required>
		</label>

		<label class="item labelZonder">
			<div class="centeredContent">
				<img src="img/username.png" style="width:23px">
			</div>
			<input name="username" type="text" ng-model="userData.username" maxlength="15" minlength="4" ng-pattern="/^[A-z][A-z0-9]*$/" placeholder="username" required>
		</label>

	</div>
</form>

</ion-slide>

<ion-slide>
<form name="registerSecondStepForm" novalidate>

	<div style="position:absolute;top:27%;width:100%">

		<label class="item labelZonder">
			<div class="centeredContent">
				<img src="img/camera.png" style="width:25px;">
			</div>
			<label>choose a profile picture </label>
		</label>

		<label class="item labelZonder">
			<div class="centeredContent">
				<img src="img/gender.png" style="width:25px;">
			</div>
			<label>are you a </label>
			<ion-checkbox class="checkBoxZonderMale" ng-model="userData.isMale"></ion-checkbox>
			<div class="divCheckBoxZonderMale">male</div>
			<ion-checkbox class="checkBoxZonderFemale" ng-model="userData.isFemale"></ion-checkbox>
			<div class="divCheckBoxZonderFemale">female</div>
		</label>
	</div>
</form>
</ion-slide>

</ion-slide-box>

<div style="position:absolute;top:75%;width:100%;">
	<p class="termsAndConditions">
		I accept <a href="#">«Terms and Conditions»</a>
	</p>

	<button class="button" ng-show="displayNextButton" ng-click="nextStepRegister()" style="position:relative;height:50px;left:50%;margin-left:-40%;border-radius: 4px;border:0 none;width:80%;background-color:rgb(247, 159, 3);color:rgb(252, 249, 240);font-size:18px;font-family:'BrandonBold';line-height: 1.026;">
		NEXT STEP
	</button>

	<button class="button" ng-show="!displayNextButton" ng-click="previousStepRegister()" style="position:absolute;height:50px;left:50%;margin-left:-40%;border-radius: 4px;border:0 none;width:80%;background-color:rgb(247, 159, 3);color:rgb(252, 249, 240);font-size:18px;font-family:'BrandonBold';line-height: 1.026;">
		REGISTER NOW
	</button>

</div>

<p ng-click="login()" class="footerZonder">
	ALREADY HAVE AN ACCOUNT ?
</p>

</ion-view>