<ion-modal-view class="background">

<!-- <popup-zonder ng-if="mailForgotPasswordPopup" title="'INFORMATION'" text="'Your mail must be a valid mail address. Or this address does not exist.'" closepopups="closepopups()"></popup-zonder> -->

<img src="img/splashTriangles.png" id="triangles">

<img src="img/close2.png" ng-click="closeChangePassModal()" class="imgClick" id="imgCloseForgotPassword">

    <div id="contentForgotPassword">
      <div class="labelZonder">
        <div class="imgLeft">
          <img ng-show="!oldPassMsg && !passEmpty" src="img/lock.png" width="22">
          <img ng-show="oldPassMsg || passEmpty" src="img/lockRed.png" width="22">
        </div>
         <input class="input" type="password" ng-model="passs.oldPassword" placeholder="old password" ng-focus="">
       <!--   <img ng-click="displayMailForgotPasswordPopup()" ng-if="displayMailerror" class="imgRight" src="img/error.png" width="20"> -->
      </div>

      <div class="labelZonder">
        <div class="imgLeft">
          <img ng-show="!oldPassMsg && !passEmpty" src="img/lock.png" width="22">
          <img ng-show="oldPassMsg || passEmpty" src="img/lockRed.png" width="22">
        </div>
         <input ng-disabled="true" class="input" ng-blur="checkValidity(!formChangePass.$invalid)" type="password" ng-model="passs.newPassword" placeholder="new password" ng-minlength=6 ng-pattern="/^[A-z][A-z0-9]*$/">
         <!-- <img ng-click="displayMailForgotPasswordPopup()" ng-if="displayMailerror" class="imgRight" src="img/error.png" width="20"> -->
      </div>

      <div class="labelZonder">
        <div class="imgLeft">
          <img ng-show="formIsValid2 && newPassMsg &&passNotEqual && passEmpty" src="img/lock.png" width="22">
          <img ng-show="!formIsValid2 || newPassMsg || passNotEqual || passEmpty" src="img/lockRed.png" width="22">
        </div>
         <input ng-disabled="true" class="input" ng-blur="checkValidity2(!formChangePass2.$invalid)" ng-minlength=6 ng-pattern="/^[A-z][A-z0-9]*$/" type="password" ng-model="passs.repeatPassword" placeholder="confirm password">
         <!-- <img ng-click="displayMailForgotPasswordPopup()" ng-if="displayMailerror" class="imgRight" src="img/error.png" width="20"> -->
      </div>
  </div>

<button id="buttonSavePassword" class="button buttonZonder" ng-click="confirmChange()" ng-disabled="(!formIsValid || !formIsValid2 || loadingChangePassword)">
  SAVE
</button>
</ion-modal-view>