<ion-modal-view class="background">

<popup-zonder ng-if="newPasswordPopup" title="'INFORMATION'" text="'Your password must contain at least 6 letters and/or numbers an be 20 characters maximum and must not contain special characters.'" closepopups="closepopups()"></popup-zonder >

<popup-zonder ng-if="confirmChangePasswordPopup" title="'INFORMATION'" text="'Your passwords must be identical'" closepopups="closepopups()"></popup-zonder> 

<popup-zonder ng-if="oldPasswordPopup" title="'INFORMATION'" text="'Your old password is not correct'" closepopups="closepopups()"></popup-zonder>

<img src="img/splashTriangles.png" id="triangles">

<img src="img/close2.png" ng-click="closeChangePassModal()" class="imgClick" id="imgCloseForgotPassword">

<div id="contentForgotPassword">

  <div class="item item-icon-left item-icon-right labelZonder">
    <i class="icon iconZonderLeft"> 
      <img ng-show="oldPassValid" src="img/lock.png" width="22">
      <img ng-show="!oldPassValid" src="img/lockRed.png" width="22">
    </i>
    <input class="inputZonder"  type="password" ng-focus="setOldPassValid()" ng-model="passs.oldPassword" placeholder="old password" ng-focus="setOldPassValid()">
    <i class="icon iconZonderRight">
      <img ng-click="displayOldPasswordPopup()" ng-show="!oldPassValid" class="imgRight" src="img/error.png" width="20">
    </i>
  </div>

  <div class="item item-icon-left item-icon-right labelZonder">
    <i class="icon iconZonderLeft"> 
      <img ng-show="newPassValid" src="img/lock.png" width="22">
      <img ng-show="!newPassValid" src="img/lockRed.png" width="22">
    </i>
    <input class="inputZonder"  type="password" ng-model="passs.newPassword" placeholder="new password" ng-change="checkPasswordIsValid()">
    <i class="icon iconZonderRight">
      <img ng-click="displayNewPasswordPopup()" ng-if="!newPassValid" class="imgRight" src="img/error.png" width="20">
    </i>
  </div>

  <div class="item item-icon-left item-icon-right labelZonder">
    <i class="icon iconZonderLeft"> 
      <img ng-show="repeatPassValid" src="img/lock.png" width="22">
      <img ng-show="!repeatPassValid" src="img/lockRed.png" width="22">
    </i>
    <input class="inputZonder" ng-minlength=6 type="password" ng-model="passs.repeatPassword" ng-disabled="!newPassValidDirty" ng-change="checkIdenticPassword()" placeholder="confirm password">
    <i class="icon iconZonderRight">
      <img ng-click="displayConfirmChangePasswordPopup()" ng-if="!repeatPassValid" class="imgRight" src="img/error.png" width="20">
    </i>
  </div>


</div>

<button id="buttonSavePassword" class="button buttonZonder" ng-click="changePass()">
  SAVE
</button>
</ion-modal-view>