<ion-modal-view class="background">
<img id="closeCreateZonder" ng-show="showCloseButton" class="imgClick" ng-click="closeCreateZonderModal()" src="img/close.png">

<img id="backCreateZonder" ng-show="!showCloseButton" class="imgClick" ng-click="backStep()" src="img/arrowBack.png">

<div id="overlayTimePicker" class="centeredContent" ng-if="timePickerIsOpen">
  <div id="contentTimePicker">

    <div class="contentTitleTimePicker">
      <p class="titlePopupTimePicker">
        TIME
      </p>
    </div> 
    <img id="closeTimePicker" src="img/closeBlack.png" width="25" ng-click="closeTimePicker()">

    <div class="timePicker">
      <p class="contentPlus">
        <span class="fontTime" ng-click="increaseHours()"> + </span>
        <span class="fontTime" ng-click="increaseDecadeMinutes()"> + </span>
      </p>
      <p class="contentTime">
        <span class="fontTime"> {{hours}} </span>
        <span class="fontTime">:</span>
        <span class="fontTime"> {{decadeMinutes}} </span>
        <span class="fontTime"> {{unitMinutes}} </span>
      </p>
      <p class="contentMinus">
        <span class="fontTime" ng-click="decreaseHours()"> - </span>
        <span class="fontTime" ng-click="decreaseDecadeMinutes()"> - </span>
      </p>
    </div>
    
    <p class="contentButton">
      <button ng-click="closeTimePicker()" class="buttonPopup button">OK</button>
    </p>
  </div>
</div>


<div id="overlayTargetPicker" class="centeredContent"  ng-if="targetPickerIsOpen" >
  <div id="contentTargetPicker">

    <div class="contentTitleTimePicker">
      <p class="titlePopupTimePicker">
        TARGET
      </p>
    </div> 
    <img id="closeTargetPicker" src="img/closeBlack.png" width="25" ng-click="closeTargetPicker()">

    <div class="timePicker">
      <p class="contentPlus">
        <span class="fontTime" ng-click="increaseHundredPeopleRange()"> + </span>
        <span class="fontTime" ng-click="increaseDecadePeopleRange()"> + </span>
      </p>
      <p class="contentTime">
        <span class="fontTime"> {{hundredPeopleRange}} </span>
        <span class="fontTime"> {{decadePeopleRange}} </span>
        <span class="fontTime"> {{unitPeopleRange}} </span>
      </p>
      <p class="contentMinus">
        <span class="fontTime" ng-click="decreaseHundredPeopleRange()"> - </span>
        <span class="fontTime" ng-click="decreaseDecadePeopleRange()"> - </span>
      </p>
    </div>
    
    <p class="contentButton">
      <button ng-click="closeTargetPicker()" class="buttonPopup button">OK</button>
    </p>
  </div>
</div>



<ion-slide-box on-slide-changed="slideHasChangedInCreateZonder(index)" delegate-handle="createZonderSlider" ng-init="disableSwipeCreateZonder()" show-pager="true" id="slideBoxCreateZonder">

<ion-slide>

<div id="contentTextAreaCreateZonder">
  <textarea class="questionCreateZonder" ng-change="charactersLeft()" id="textAreaQuestionCreateZonder" ng-model="createPoll.question" rows="8" cols="18" maxlength="90" placeholder="WHAT IS YOUR QUESTION ?">
  </textarea>
</div>

<div id="contentCharactersLeftCreateZonder">
  <span class="fontCharacters">Characters left: {{charLeft}}</span>
</div>

</ion-slide>

<ion-slide>

<div ng-show="displayButtonLeft" class="sample-show-hide" id="posDivCameraLeft" ng-click="showActionSheetPhotoSourceForPhotoLeft()" style=" display: -webkit-flex;-webkit-flex-direction: column;-webkit-align-items: center;-webkit-justify-content: flex-start;">
  <div class="addPictureFont">add picture</div>
  <img width="40" ng-show="true" ng-click="" src="img/cameraPhoto.png">
</div>

<div ng-show="displayButtonRight" class="sample-show-hide" id="posDivCameraRight" ng-click="showActionSheetPhotoSourceForPhotoRight()" style=" display: -webkit-flex;-webkit-flex-direction: column;-webkit-align-items: center;-webkit-justify-content: flex-start;">
  <img width="40" ng-show="true" ng-click="" src="img/cameraPhoto.png">
  <div class="addPictureFont">add picture</div>
</div>


<textarea ng-class="{nameTranslateLeft:!displayButtonLeft}" id="posDivNamePhotoLeft" ng-change="checkChoicePhotoInCreatePoll()" rows="3" cols="14" maxlength="26" ng-show="!displayButtonLeft" class="sample-show-hide textAreaNamePhotoCreateZonder textAreaNamePhotoCreateZonderPlaceholder" ng-model="createPoll.namePhotoLeft" placeholder="NAME PHOTO"></textarea>

<textarea ng-class="{nameTranslateRight:!displayButtonRight}" id="posDivNamePhotoRight" ng-change="checkChoicePhotoInCreatePoll()" rows="3" cols="14" maxlength="26" ng-show="!displayButtonRight" class="sample-show-hide textAreaNamePhotoCreateZonder textAreaNamePhotoCreateZonderPlaceholder" ng-model="createPoll.namePhotoRight" placeholder="NAME PHOTO"></textarea>


<div class='pageOption'>
  <a class='option' ng-click="showActionSheetPhotoSourceForPhotoLeft()" ng-style="{'-webkit-transform': 'skewX(' + photoSkewAngleDegBackground + 'deg)'}">
    <img src='{{createPoll.photoLeft}}' ng-style="{'-webkit-transform': 'skewX(' + photoSkewAngleDegImage + 'deg)', 'width': imgLeftInfo.imgWidth + 'px', 'height': imgLeftInfo.imgHeight + 'px', 'margin-left': imgLeftInfo.positionLeft + 'px', 'margin-top': imgLeftInfo.positionTop + 'px'}">
  </a>
  <a class='option' ng-click="showActionSheetPhotoSourceForPhotoRight()" ng-style="{'-webkit-transform': 'skewX(' + photoSkewAngleDegBackground + 'deg)'}">
    <img src='{{createPoll.photoRight}}' ng-style="{'-webkit-transform': 'skewX(' + photoSkewAngleDegImage + 'deg)',  'width': imgRightInfo.imgWidth + 'px', 'height': imgRightInfo.imgHeight + 'px', 'margin-left': imgRightInfo.positionLeft + 'px', 'margin-top': imgRightInfo.positionTop + 'px'}">
  </a>
</div>
</ion-slide>


<ion-slide style="overflow:hidden">

<div style="position:absolute;top:26%;left:10%" class="fontYourOption">your options</div>

<div style="position:absolute;top:32%;width:100%;">

 <div class="item item-icon-left item-icon-right labelZonder" ng-click="openTimePicker()">
  <i class="icon iconZonderLeft"> 
    <img src="img/clock.png" width="25">
  </i>
  <div class="textZonder">select your timer</div>
  <i class="icon iconZonderRight"> 
    <img src="img/chevronRightGrey.png" width="7">
  </i>
</div>

<div class="item item-icon-left labelZonder">
 <i class="icon iconZonderLeft"> 
  <img src="img/earth.png" width="25">
</i>
  <div class="labelContainerZonder" style="margin-left:26px"> 
    <div class="checkboxZonder">
      <label class="checkbox">
        <input type="checkbox" ng-change="setWorldPoll()" ng-model="zonderInfo.worldPoll">
      </label>
      <span class="textCheckbox">public</span>
    </div>
    <div class="checkboxZonder">
      <label class="checkbox" >
        <input type="checkbox" ng-change="setFriendPoll()" ng-model="zonderInfo.friendPoll" >
      </label>
      <span class="textCheckbox">friends only</span>
    </div>
  </div>
</div>


<div class="item item-icon-left labelZonder">
 <i class="icon iconZonderLeft"> 
  <img src="img/gender.png" width="25">
</i>
  <div class="labelContainerZonder" style="margin-left:26px"> 
    <div class="checkboxZonder">
      <label class="checkbox">
        <input type="checkbox" ng-click="setMalePoll()" ng-model="zonderInfo.malePoll">
      </label>
      <span class="textCheckbox">men</span>
    </div>
    <div class="checkboxZonder">
      <label class="checkbox" >
        <input type="checkbox" ng-click="setFemalePoll()" ng-model="zonderInfo.femalePoll" >
      </label>
      <span class="textCheckbox">women</span>
    </div>
    <div class="checkboxZonder">
      <label class="checkbox" >
        <input type="checkbox" ng-click="setMixtPoll()" ng-model="zonderInfo.mixtPoll" >
      </label>
      <span class="textCheckbox">both</span>
    </div>
  </div>   
</div>

<!-- bidouillage -->

    <div class="divTargetAndFriends"> 
    <div class="item item-icon-left item-icon-right specTarget" ng-click="openTargetPicker()" ng-class="{labelZonder:animateTarget, labelZonderHide:!animateTarget}">
      <i class="icon iconZonderLeft"> 
        <img src="img/target.png" width="25">
      </i>
      <div class="textZonder">select your target</div>
    <i class="icon iconZonderRight"> 
      <img src="img/chevronRightGrey.png" width="7">
    </i>
    </div>

     <div class="item specFriends" ng-class="{labelZonder:animateFriends, labelZonderFriendsHide:!animateFriends}">

      <ion-scroll direction="x" zooming="false" delegate-handle="horizontal" class="fullSize">

    <div ng-show="loadingSondrFriends" class="card centeredContent" style="background:#ECF0F1;position:relative;left:50%;margin: 10px 0 0 -25px;width:50px;height:50px;"><i style="font-size:26px;" class="icon ion-loading-c"></i></div>

    <div ng-if="!friends.length" ng-hide="loadingSondrFriends"class="centeredContent fontOptionCreateZonder specNotFriends">You don't have any friends yet !</div>

    <div ng-hide="loadingSondrFriends" class="row specDivFriends" ng-style="{'width': ((friends.length + 1) * 58) + 'px' }" >
      <div class="specDivAll">
        <img ng-if="!allFriendsSelected" src="img/allFriends.svg" ng-click="selectAllFriends()" class="specImg"/>
        <img ng-if="allFriendsSelected" src="img/allFriendsSelected.svg" ng-click="selectAllFriends()" class="specImg"/>

        <label class="fontOptionCreateZonder specText">
          All
        </label>
      </div>

      <div ng-hide="(zonderInfo.femalePoll && f.gender) || (zonderInfo.malePoll && !f.gender)" class="sample-show-hide specDivFriends" ng-repeat="f in friends">
        <img  src={{f.photo}} ng-class="{borderNotSelected:!f.selected,borderSelected:f.selected}" ng-click="selectFriend(f.id, f.selected)" class="specImg"/>
        <label ng-if="f.pseudo.length <= 7" class=" fontOptionCreateZonder specText">
          {{f.pseudo}}
        </label>
        <label ng-if="f.pseudo.length > 7" class=" fontOptionCreateZonder specText">
          {{f.pseudo.substring(0,6)}}...
        </label>
      </div>
    </div>
  </ion-scroll>
 </div>
 </div> <!-- fin bidouillage -->

</div>

</ion-slide>

</ion-slide-box>

<button ng-disabled="!showNextButtonForCreatePoll" ng-show="displayNextButtonQuestion" class="button buttonZonder buttonRegister specButtonCreateZonder" ng-click="nextStepPhoto()">
    NEXT
 </button>

 <button ng-disabled="!showNextButtonForChoosePhoto" ng-show="displayNextButtonChoosePhoto" class="button buttonZonder buttonRegister specButtonCreateZonder" ng-click="nextStepOption()">
    NEXT
 </button>

  <button ng-disabled="!showFinishButtonCreatePoll" ng-show="displayCreateButton" class="button buttonZonder buttonRegister specButtonCreateZonder" ng-click="createPollFunction()">
    CREATE
 </button>

</ion-modal-view>