<ion-modal-view class="background">

<popup-zonder ng-if="mailForgotPasswordPopup" title="'INFORMATION'" text="'Your mail must be a valid mail address. Or this address does not exist.'" closepopups="closepopups()"></popup-zonder>

<img src="img/splashTriangles.png" id="triangles">

<button ng-click="closeForgotPasswordModalWithRemove()" id="imgCloseForgotPassword" class="button button-icon">
  <i> <img width="28" src="img/close.png" >
  </i>
</button>

<!-- <img src="img/close2.png" ng-click="closeForgotPasswordModal()" class="imgClick" id="imgCloseForgotPassword"> -->

<form name="forgotPassword" ng-submit="sendNewPassword()" novalidate>
<div id="contentForgotPassword">

  <div class="item item-icon-left item-icon-right labelZonder">
    <i class="icon iconZonderLeft"> 
      <img ng-if="!displayMailerror" src="img/mail.png" width="22">
      <img ng-if="displayMailerror" src="img/mailRed.png" width="22">
    </i>
    <input class="inputZonder" name="mail" type="email" ng-model="data.mail" placeholder="email address" ng-focus="setDisplayMailErrorFalse()">
    <i class="icon iconZonderRight">
      <img ng-click="displayMailForgotPasswordPopup()" ng-if="displayMailerror" src="img/error.png" width="20">
    </i>
  </div>
  <p class="fontSmallBrandonMedium indicationForgotPassword">Enter the email address associated with your account to receive a new password</p>
</div>
<button id="buttonForgetPassword" class="button buttonZonder">
  SEND
</button>
</form>

</ion-modal-view>