<!-- <ion-view hide-nav-bar="true" drag-content="false" ng-controller="forgotPasswordCtrl" class="splashscreenBackground"> -->
<ion-modal-view class="background">
<img src="img/splashTriangles.png" id="triangles">

<img src="img/close2.png" ng-click="closeForgotPasswordModal()" class="imgClick" style="width:28px;z-index:11;position:absolute;left:12px;top:36px;">

    <div style="position:absolute;width:100%;top:27.6%;">
      <label class="item labelZonder">
        <div class="centeredContent" ng-switch on="displayMailerror">
        	<img ng-switch-when="false" src="img/mail.png" style="width:22px">
         	<img ng-switch-when="true" src="img/mailRed.png" style="width:22px">
        </div>
         <input name="mail" type="email" ng-model="data.mail" placeholder="email address" ng-focus="setDisplayMailErrorFalse()">
      </label>
      <p class="fontSmallBrandonMedium" style="margin-top:8px;padding-left:5%;padding-right:5%;text-transform: uppercase;text-align:center">Enter the email address associated with your account to receive a new password</p>
  </div>

<button class="button buttonZonder" ng-click="sendNewPassword(data.mail)" style="position:absolute;left:50%;margin-left:-40%;top:81%;">
  SEND
</button>
</ion-modal-view>