<ion-modal-view class="background">

<popup-zonder ng-if="mailForgotPasswordPopup" title="'INFORMATION'" text="'Your mail must be a valid mail address. Or this address does not exist.'" closepopups="closepopups()"></popup-zonder>

<img src="img/splashTriangles.png" id="triangles">

<img src="img/close2.png" ng-click="closeForgotPasswordModal()" class="imgClick" id="imgCloseForgotPassword">

    <div id="contentForgotPassword">
      <div class="labelZonder">
        <div class="imgLeft" ng-switch on="displayMailerror">
        	<img ng-switch-when="false" src="img/mail.png" width="22">
         	<img ng-switch-when="true" src="img/mailRed.png" width="22">
        </div>
         <input class="input" name="mail" type="email" ng-model="data.mail" placeholder="email address" ng-focus="setDisplayMailErrorFalse()">
         <img ng-click="displayMailForgotPasswordPopup()" ng-if="displayMailerror" class="imgRight" src="img/error.png" width="20">
      </div>
      <p class="fontSmallBrandonMedium indicationForgotPassword">Enter the email address associated with your account to receive a new password</p>
  </div>

<button id="buttonForgetPassword" class="button buttonZonder" ng-click="sendNewPassword(data.mail)">
  SEND
</button>
</ion-modal-view>