<ion-modal-view style="background-color: rgb(0,0,0)">

<img id="closeCreateZonder" class="imgClick" ng-click="closePollModal()" src="img/close.png">

<div style="position:relative;overflow:hidden;height:50vh;width:100%;">
	 <img src='{{pollToDisplay.photoLeft}}' ng-class="{opacityImage:!displayPourcentageAndOpacity, opacityImageActif:displayPourcentageAndOpacity}" ng-style="{'width': imgLeftInfoPollModal.imgWidth + 'px', 'height': imgLeftInfoPollModal.imgHeight + 'px', 'margin-left': imgLeftInfoPollModal.positionLeft + 'px', 'margin-top': imgLeftInfoPollModal.positionTop + 'px'}">
   <p ng-class="{translateNamePhotoHide:!displayPourcentageAndOpacity,translateNamePhotoShow:displayPourcentageAndOpacity}" style="font-size:12px;" class="fontTitlePhotoZonder titlePhotoPollModal">{{pollToDisplay.firstName}}</p>
</div>

<div style="overflow:hidden;position:relative;height:50vh;width:100%">
	<img src='{{pollToDisplay.photoRight}}' ng-class="{opacityImage:!displayPourcentageAndOpacity, opacityImageActif:displayPourcentageAndOpacity}"  ng-style="{'width': imgRightInfoPollModal.imgWidth + 'px', 'height': imgRightInfoPollModal.imgHeight + 'px', 'margin-left': imgRightInfoPollModal.positionLeft + 'px', 'margin-top': imgRightInfoPollModal.positionTop + 'px'}">
  <p ng-class="{translateNamePhotoHide:!displayPourcentageAndOpacity,translateNamePhotoShow:displayPourcentageAndOpacity}" style="font-size:12px;" class="fontTitlePhotoZonder titlePhotoPollModal">{{pollToDisplay.firstName}}</p>
</div>


<div ng-show="!displaySectionComments && !displaySectionVotes" class="contentItemQuestionPollModal sample-show-hide">
  <div class="contentFriend">
    <div class="contentTextFriend">
      <p class="fontPseudoFriends" style="color:#ffffff"> {{pollToDisplay.authorPseudo}}
      </p>
      <p class="fontFooterFriends" style="webkit-hyphens: auto;font-size:11px;color:#ffffff"> {{pollToDisplay.question}} </p>
    </div>
    <img width="48" height="48" style="border:2px solid #ffffff;" class="roundImage" src="{{pollToDisplay.authorPhoto}}">
  </div> 
</div>

<!-- <ion-item ng-show="!displaySectionComments && !displaySectionVotes" class="item sample-show-hide" style="border:0 none;position:absolute;top:15px;left:0;width:90%;height:150px;background-color: rgba(0,0,0,0);margin-top:12px;">
<img src={{pollToDisplay.photoAuthor}} style="border:1px solid #35c3c1;position:absolute;left:12px;top:8px;width:32px;height:32px;border-radius:100%">
<h2 style="position:absolute;margin-top:-10px;padding-left:2px;padding-right:2px;left:56px;text-transform: uppercase;font-size:14px;color:#cccccc;text-shadow: 1px 1px 2px #000000;"><b>{{pollToDisplay.pseudo}}</b></h2>
 <span style="width:80%;position:absolute;margin-top:6px;left:54px;color:#ffffff;font-size:14px;background: transparent">{{pollToDisplay.question}}</span>
</ion-item>
 -->

<span ng-show="!displaySectionComments" class="fontPseudoTextZonder" ng-class="{pourcentageTranslateUpFirst:!displayPourcentageAndOpacity, pourcentageTranslateDownFirst:displayPourcentageAndOpacity}" style="width:100px;height:50px;line-height:45px;margin-left:-50px;margin-top:-25px;position:absolute;top:25vh;left:50%;color:#ffffff;text-align:center;font-size:50px"><b> {{pollToDisplay.pourcentagePhotoLeft}}<span  class="fontPseudoTextZonder" style="font-size:10px;color:#ffffff">%</span></b></span>
<span ng-show="!displaySectionComments"  class="fontPseudoTextZonder" ng-class="{pourcentageTranslateDownSecond:!displayPourcentageAndOpacity, pourcentageTranslateUpSecond:displayPourcentageAndOpacity}" style="width:100px;height:50px;line-height:45px;margin-left:-50px;margin-top:-25px;position:absolute;top:75vh;left:50%;color:#ffffff;text-align:center;font-size:50px"><b>{{pollToDisplay.pourcentagePhotoRight}}<span  class="fontPseudoTextZonder" style="font-size:10px;color:#ffffff">%</span></b></span>

<div ng-show="!displaySectionComments" class="sample-show-hide divSeparatorPollModal">
  <div class="separatorLeftPollModal" ></div>
  <img width="5%" style="margin-left:5%;margin-right:5%;margin-top:-2.1%" src="img/logo.png">
  <div class="separatorRightPollModal"></div>
</div>

<div style="border-radius:10px;position:absolute;top:94%;left:18%;height:22px;border:1px solid #FFFFFF;"></div>
<div style="border-radius:10px;position:absolute;top:94%;left:34%;height:22px;border:1px solid #FFFFFF;"></div>
<div style="border-radius:10px;position:absolute;top:94%;left:50%;height:22px;border:1px solid #FFFFFF;"></div>
<div style="border-radius:10px;position:absolute;top:94%;left:66%;height:22px;border:1px solid #FFFFFF;"></div>
<div style="border-radius:10px;position:absolute;top:94%;left:82%;height:22px;border:1px solid #FFFFFF;"></div>

<div ng-click="comments(displaySectionComments)" style="position:absolute;height:22px;top:94%;left:8%;display:-webkit-flex;-webkit-justify-content:center;-webkit-align-items:center;"><img width="20" src="img/parameterProfile.png"></div>

<div ng-switch on="pollToDisplay.range" ng-click="votes(displaySectionVotes)">
  <div ng-switch-when="Monde" style="margin-left:-8px;z-index:1000;position:absolute;top:94%;left:26%;">
  <img width="20" src="img/earthWhite.png" >
  </div>
  <div ng-switch-when="Amis" style="margin-left:-9px;z-index:1000;position:absolute;margin-top:1px;top:94%;left:26%;">
  <img width="20" src="img/friends.png" >
  </div>
</div>

<div ng-switch on="pollToDisplay.gender">
<i ng-switch-when="male"  class="icon ion-male light" style="font-size:20px;margin-left:-8px;z-index:1000;position:absolute;top:94%;left:42%;"></i>
<i ng-switch-when="female" class="icon ion-female light" style="font-size:20px;margin-top:1px;margin-left:-3px;z-index:1000;position:absolute;top:94%;left:42%;"></i>
<div ng-switch-when="mixte" style="margin-top:2px;margin-left:-10px;z-index:1000;position:absolute;top:94%;left:42%;">
<img  width="22" src="img/genderWhite.png" >
</div>
</div>

<div ng-switch on="pollToDisplay.range">
	<div ng-switch-when="Monde" class="fontPseudoTextZonder" style="font-size:9px;position:absolute;top:94%;width:14%;margin-left:-7%;left:58%;color:#ffffff;text-align:center;"><b>{{pollToDisplay.votes}}/{{pollToDisplay.usersConcerned}}</b></div>
	<div ng-switch-when="Amis" class="fontPseudoTextZonder" style="font-size:10px;position:absolute;top:94%;width:14%;margin-left:-7%;left:58%;color:#ffffff;text-align:center;"><b>{{pollToDisplay.votes}}</b></div>
	<div class="fontQuestionZonder" style="font-size:8px;position:absolute;top:94%;width:14%;margin-left:-7%;margin-top:13px;left:58%;color:#ffffff;text-align:right;"><b>votes</b></div>
</div>

<div ng-show="!pollToDisplay.isOver" class="fontPseudoTextZonder" style="font-size:10px;position:absolute;top:94%;width:14%;margin-left:-6%;left:74%;color:#ffffff;text-align:center;"><b>{{pollToDisplay.hours}}<span class="fontPseudoTextZonder" style="font-size:4px;">h</span> : {{pollToDisplay.minutes}}<span class="fontPseudoTextZonder" style="font-size:4px;">min</span></b></div>
<i ng-show="pollToDisplay.isOver" class="icon ion-checkmark-round custom-color-icon" style="font-size:20px;margin-left:-6px;z-index:1000;position:absolute;top:94%;left:74%;"></i>

<i class="icon ion-share light" style="font-size:20px;margin-left:-6px;z-index:1000;position:absolute;top:94%;left:90%;"></i>

<ion-scroll ng-show="pollToDisplay.comments.length && displaySectionComments" class="sample-show-hide" has-bouncing="false" direction="y" zooming="false" delegate-handle="vertical" style="width:90%;position:absolute;left:5%;top:15%;max-height: 70%;overflow:hidden;">

<div ng-repeat="comment in pollToDisplay.comments" class="contentItemFriend">
  <div class="contentFriend">
    <img width="48" height="48" style="border:2px solid #ffffff;" class="roundImage" src="{{comment.photoAuthorComments}}">
    <div class="contentTextFriend">
      <p class="fontPseudoFriends" style="color:#ffffff"> {{comment.author}}
      </p>
      <p class="fontFooterFriends" style="font-size:10px;color:#ffffff"> {{comment.comment}} </p>
    </div>
  </div> 
</div>

</ion-scroll>

<div ng-show="displaySectionComments && !pollToDisplay.comments.length" class="sample-show-hide" style="position:absolute;left:20%;top:20%;width:60%;height:30px;">
    <span class="fontPseudoFriends" style="width:100%;color:#ffffff;font-size:14px;background: transparent">No comment yet, be the first to comment !</span>
</div>

  <div ng-show="displaySectionComments" class="sample-show-hide" style="position:absolute;left:5%;top:85%;width:90%;height:30px;">
    <div style="border:1px solid #FFFFFF;border-radius:10px;margin-top:0px;"></div>
    <input type="text" class="fontFooterFriends" style="width:85%;position:relative;background: transparent;color:#FFFFFF;font-size:14px;height:30px;line-height:14px;" ng-model="pollToDisplay.writeComment" placeholder="Write comment" maxlength="38" minlength="1">
    
    <button class="button-clear" class="fontPseudoFriends" ng-click="sendComment()" style="padding:0;position:absolute;left:85%;top:0;width:15%;height:30px;font-size:14px;color:#FFFFFF;text-align:center;"><b>Send</b></button>
  </div>
  

<div ng-show="displaySectionVotes && !pollToDisplay.whoVotedWhat.length" class="sample-show-hide" style="position:absolute;left:20%;top:20%;width:60%;height:30px;">
    <span class="fontPseudoFriends" style="width:100%;color:#ffffff;font-size:14px;background: transparent">No friends voted !</span>
</div>

<ion-scroll ng-show="pollToDisplay.whoVotedWhat.length && displaySectionVotes" class="sample-show-hide" has-bouncing="false" direction="y" zooming="false" delegate-handle="vertical" style="width:100%;position:absolute;left:0;top:15%;max-height:30%;overflow:hidden;">
<img ng-class="{photoLineImpair:friendWhoVotedLeft.ligneImpair,photoLineSpecific:friendWhoVotedLeft.firstPositionPair,photoLinePair2:friendWhoVotedLeft.position}" style="width:12vw;height:12vw;border-radius:100%;border:2px solid #ffffff;" src={{friendWhoVotedLeft.photo}} ng-repeat="friendWhoVotedLeft in pollToDisplay.whoVotedLeft">
</ion-scroll>

<ion-scroll ng-show="pollToDisplay.whoVotedWhat.length && displaySectionVotes" class="sample-show-hide" has-bouncing="false" direction="y" zooming="false" delegate-handle="vertical" style="width:100%;position:absolute;left:0;top:60%;max-height:30%;overflow:hidden;">
<img ng-class="{photoLineImpair:friendWhoVotedRight.ligneImpair,photoLineSpecific:friendWhoVotedRight.firstPositionPair,photoLinePair2:friendWhoVotedRight.position}" style="width:12vw;height:12vw;border:2px solid #ffffff;border-radius:100%" src={{friendWhoVotedRight.photo}} ng-repeat="friendWhoVotedRight in pollToDisplay.whoVotedRight">
</ion-scroll>


</ion-modal-view>