<ion-modal-view class="background">
<div id="triangles"> <img style="width:100%" src="img/splashTriangles.png" ></div>

<img src="img/close2.png" ng-click="closeProfileModal()" class="imgClick posButtonClose">

<img src="{{myPhoto}}" ng-click="showActionSheetPhotoSource()" class="profilImg">
<label class="fontBrandonBlack" id="posPseudoUser">{{myPseudo}}</label>

 <img width="26" class="posParameterProfile" src="img/parameterProfile.png" ng-click="showActionSheetParameters()">

<div class="divTransparency"></div>

<div class="posHeader">
<div class="divHeader">
<div class="row rowHeader">
    <div class="col colHeader colorJaunePale"></div>
    <div class="col colHeader colorJaunePoussin"></div>
</div>
</div>

<div class="divHeader" style="z-index:15">
<div class="row rowHeader">
    <div class="col colHeader imgClick">
      <div ng-click="goToSlide(0)" class="ongletHeader">
      <img src="img/poll.png" width="28" class="imgHeader">
      <span class="fontBrandonBlackMenu spanHeader">11 Zonders</span>
      </div>
    </div>
    <div class="col colHeader imgClick">
      <div ng-click="goToSlide(1)" style="position:relative" class="ongletHeader">
        <img src="img/friends.png" width="28" class="imgHeader">
        <span class="fontBrandonBlackMenu spanHeaderFriends">10 Friends</span>
      </div>
    </div>
</div>
</div>
</div>

<div class="divSelectorTab" ng-class="{colorJaunePale:sliderPollsProfile, colorJaunePoussin:sliderFriendsProfile}"></div>

<ion-slide-box id="sliderBoxHome" delegate-handle="profileSlider" show-pager="false" on-slide-changed="slideHasChangedInProfileSlider($index)">

<ion-slide class="heightIonSlide" >
<!-- <div class="divContentZonder">

<div class="headerZonder">

  <img width="46" src="img/louis.png">

  <div class="contentHeader">
    <div class="contentHeaderHeader">
    <p class="sizeContentPseudo fontPseudoZonder"> Louis </p>
    <p class="posTimer fontTimeZonder"> 12h55 ago</p>
    </div>
    
    <div class="contentHeaderFooter">
      <p class="fontQuestionZonder questionPosStyle">Do you prefer the mountains or the sea for a summer camp ?
    </p>
    <img width="13" class="posWheel" src="img/wheelOption.png">
    </div>
    
  </div>

</div>

<div class="contentProgressionPoll">

<div class="contentProgressionBar">
<div class="contentBarPhotoLeft">
<p class="fontVotePhotoZonder">60 votes</p>
</div>
</div>

<div class="contentProgressionBar">
<div class="contentBarPhotoRight">
<p class="fontVotePhotoZonder">40 votes</p>
</div>
</div>
</div>

<div class="contentPhotosPoll">
<div class="contentPhotoLeft">
<img width="100%" src="img/imageLeftPoll.png">
<p class="fontTitlePhotoZonder titlePhoto">montains</p>
</div>
<div class="contentPhotoLeft">
<img width="100%" src="img/imageRightPoll.png">
<p class="fontTitlePhotoZonder titlePhoto">sea</p>
</div>
</div>

<div class="footerZonder">
  <div class="contentVotesComments"> 
    <div class="fontVoteCommentsZonder">148 <span class="fontVoteCommentsTextZonder">votes</span></div>
    <div class="fontVoteCommentsZonder marginComments">12 <span class="fontVoteCommentsTextZonder">comments</span></div>
  </div>
<div class="contentIconFavouriteComments"> 
  <img width="18" class="marginIconComments" src="img/commentsIcon.png">
</div>

 </div>

</div> -->

<!-- <div class="separator"></div>
 -->
    <button class="button button-energized" ng-click="goToOtherProfile()">LOL2</button>

</ion-slide>


<ion-slide class="heightIonSlide">

<div class="contentItemFriend">
<img width="46" src="img/louis.png">
<img class="posNotification" width="10" src="img/notification.png">
<div class="contentTextFriend">
<p class="fontPseudoFriends"> Louis</p>
<div class="contentFlexFlexStart"> 
    <p class="fontPollsFriends">10 <span class="fontPollsFriendsText">zonders</span></p>
    <div style="margin-left:2px;margin-right:2px"class="fontPollsFriendsText">/</div>
    <p class="fontPollsFriends">121 <span class="fontPollsFriendsText">friends</span></p>
</div>
<p class="fontFooterFriends" style="margin-top:10px"> See Louis’s profile </p>
</div>
</div>
</ion-slide>
</ion-slide-box>

<div ng-show="sliderPollsProfile" class="buttonfooter">
<img src="img/plus.png" width="16">
<span class="brandonBold" id="createPoll">create a zonder</span>
</div>

<div ng-show="sliderFriendsProfile" class="buttonfooter">
<img src="img/plus.png" width="16">
<span class="brandonBold" id="findFriends">find friends</span>
</div>

</ion-modal-view>