<ion-modal-view class="background">
<popup-zonder ng-if="mailPopup" title="'INFORMATION'" text="'Your mail must be a valid mail address. Or this mail is aldready used.'" closepopups="closepopups()"></popup-zonder>

<popup-zonder ng-if="pseudoPopup" title="'INFORMATION'" text="'Your pseudo must contain at least 4 letters and/or numbers an be 15 characters maximum and must not contain special characters. Or this pseudo is aldready used.'" closepopups="closepopups()"></popup-zonder>

<popup-zonder ng-if="passwordPopup" title="'INFORMATION'" text="'Your password must contain at least 6 letters and/or numbers an be 20 characters maximum and must not contain special characters.'" closepopups="closepopups()"></popup-zonder >

<popup-zonder ng-if="passwordIdenticalPopup" title="'INFORMATION'" text="'Your passwords must be identical'" closepopups="closepopups()"></popup-zonder>


<img src="img/splashTriangles.png" id="triangles">

<ion-slide-box delegate-handle="registerSlider" on-slide-changed="slideHasChangedInRegister($index)" ng-init="disableSwipe()" show-pager="true" id="registerSlideBox">

<ion-slide>

<form name="registerFirstStepForm" novalidate>
  <div id="divRegisterFirstStep">
    <div class="labelZonder">
      <img class="imgLeft" ng-if="mailIsValid" src="img/mail.png" width="25">
      <img class="imgLeft" ng-if="!mailIsValid" src="img/mailRed.png" width="25">
      <input class="input" name="email" type="email" ng-model="userData.email" placeholder="email address" ng-maxlength="50" ng-change="checkEmail()" required>
      <img ng-click="displayMailPopup()" ng-if="!mailIsValid" class="imgRight" src="img/error.png" width="20">
      <img ng-if="mailIsValid" class="imgRight" src="img/transparencyBackground.png" width="20">
    </div>
    <div class="labelZonder">
      <img class="imgLeft" ng-if="passwordIsValid" src="img/lock.png" width="25">
      <img class="imgLeft" ng-if="!passwordIsValid" src="img/lockRed.png" width="25">
      <input class="input" name="password" ng-change="checkPasswordIsValid()" type="password" ng-model="userData.password"  placeholder="password" ng-maxlength="20" required>
      <img ng-if="!passwordIsValid" class="imgRight" src="img/error.png" width="20" ng-click="displayPasswordPopup()">
      <img ng-if="passwordIsValid" class="imgRight" src="img/transparencyBackground.png" width="20">
    </div>
    <div class="labelZonder">
      <img class="imgLeft" ng-if="identicPasswords" src="img/lock.png" width="25">
      <img class="imgLeft" ng-if="!identicPasswords" src="img/lockRed.png" width="25">
      <input class="input" ng-disabled="!passwordIsValidDirty" name="confirmpassword" type="password" ng-minlength="6" ng-model="userData.confirmPassword" placeholder="confirm password" ng-maxlength="20" ng-change="checkPasswords()" required>
      <img ng-if="!identicPasswords" class="imgRight" src="img/error.png" width="20" ng-click="displayPasswordIdenticalPopup()">
      <img ng-if="identicPasswords" class="imgRight" src="img/transparencyBackground.png" width="20">
    </div>
    <div class="labelZonder">
      <img class="imgLeft" ng-if="pseudoIsValid" src="img/username.png" width="25">
      <img class="imgLeft" ng-if="!pseudoIsValid" src="img/usernameRed.png" width="25">
      <input class="input" name="pseudo" type="text" ng-model="userData.pseudo" maxlength="15" minlength="4"placeholder="pseudo"  ng-change="checkPseudo()" required>
      <img ng-if="!pseudoIsValid" class="imgRight" src="img/error.png" width="20" ng-click="displayPseudoPopup()">
      <img ng-if="pseudoIsValid" class="imgRight" src="img/transparencyBackground.png" width="20">
    </div>
  </div>
</form>


<!-- <form name="registerFirstStepForm" novalidate>
  <div id="divRegisterFirstStep">
    <div class="labelZonder">
      <img class="imgLeft" ng-if="mailIsValid" src="img/mail.png" width="25">
      <img class="imgLeft" ng-if="!mailIsValid" src="img/mailRed.png" width="25">
      <input class="input" name="email" type="email" ng-model="userData.email" placeholder="email address" ng-maxlength="50" ng-change="checkEmail()" required>
      <img ng-click="displayMailPopup()" ng-if="!mailIsValid" class="imgRight" src="img/error.png" width="20">
    </div>
    <div class="labelZonder">
      <img class="imgLeft" ng-if="identicPasswords" src="img/lock.png" width="25">
      <img class="imgLeft" ng-if="!identicPasswords" src="img/lockRed.png" width="25">
      <input class="input" name="password" type="password" ng-model="userData.password"  placeholder="password" ng-minlength="6" ng-pattern="/^[A-z][A-z0-9]*$/" ng-maxlength="20" required>
      <img ng-if="!identicPasswords" class="imgRight" src="img/error.png" width="20" ng-click="displayPasswordPopup()">
    </div>
    <div class="labelZonder">
      <img class="imgLeft" ng-if="identicPasswords" src="img/lock.png" width="25">
      <img class="imgLeft" ng-if="!identicPasswords" src="img/lockRed.png" width="25">
      <input class="input" name="confirmpassword" type="password" ng-minlength="6" ng-pattern="/^[A-z][A-z0-9]*$/" ng-model="userData.confirmPassword" placeholder="confirm password" ng-maxlength="20" ng-change="checkPasswords()" required>
      <img ng-if="!identicPasswords" class="imgRight" src="img/error.png" width="20" ng-click="displayPasswordIdenticalPopup()">
    </div>
    <div class="labelZonder">
      <img class="imgLeft" ng-if="pseudoIsValid" src="img/username.png" width="25">
      <img class="imgLeft" ng-if="!pseudoIsValid" src="img/usernameRed.png" width="25">
      <input class="input" name="pseudo" type="text" ng-model="userData.pseudo" maxlength="15" minlength="4" ng-pattern="/^[A-z][A-z0-9]*$/" placeholder="pseudo"  ng-change="checkPseudo()" required>
      <img ng-if="!pseudoIsValid" class="imgRight" src="img/error.png" width="20" ng-click="displayPseudoPopup()">
    </div>
  </div>
</form>
 -->
</ion-slide>

<ion-slide>
<form name="registerSecondStepForm" novalidate>
  <div id="divRegisterSecondStep">
    <div class="labelZonder">
      <img class="imgLeft" ng-if="!photoHasChanged" src={{userData.photo}} ng-click="showActionSheetPhotoSource()" width="25">
      <img class="imgLeftRound" ng-if="photoHasChanged" src={{userData.photo}} ng-click="showActionSheetPhotoSource()" width="25">
      <span class="text">upload a profile picture</span>
      <img class="imgRight" src="img/transparencyBackground.png" width="20">
    </div>
    <div class="labelZonder2">
      <img class="imgLeft"  ng-click="checkMale" ng-if="genderIsValid" src="img/gender.png" width="25">
      <img class="imgLeft" ng-if="!genderIsValid" src="img/genderRed.png" width="25">
      <span class="text">are you a</span>
      <div class="checkboxZonder">
        <label class="checkbox" >
          <input type="checkbox" ng-change="checkMale()" ng-model="userData.isMale">
        </label>
        <span class="textCheckbox">male</span>
      </div>
      <div class="checkboxZonder">
        <label class="checkbox" >
          <input type="checkbox" ng-change="checkFemale()" ng-model="userData.isFemale" >
        </label>
        <span class="textCheckbox">female</span>
      </div>
    </div>
  </div>
</form>
</ion-slide>

</ion-slide-box>

<div id="divTermsAndConditionButton">
  <p class="termsAndConditions">
    I accept <a href="#">«Terms and Conditions»</a>
  </p>

  <button class="button buttonZonder buttonRegister" ng-show="displayNextButton" ng-click="nextStepRegister()">
    NEXT STEP
  </button>

  <button class="button buttonZonder buttonRegister" ng-show="!displayNextButton" ng-click="checkSecondStep()">
    REGISTER NOW
  </button>

  
</div>

<p ng-click="closeRegisterModal()" class="footerRegister">
  ALREADY HAVE AN ACCOUNT ?
</p>

</ion-modal-view>