<ion-modal-view class="background">
<popup-zonder ng-if="mailPopup" title="'INFORMATION'" text="'Your mail must be a valid mail address. Or this mail is aldready used.'" closepopups="closepopups()"></popup-zonder>

<popup-zonder ng-if="pseudoPopup" title="'INFORMATION'" text="'Your pseudo must contain at least 4 letters and/or numbers an be 15 characters maximum and must not contain special characters. Or this pseudo is aldready used.'" closepopups="closepopups()"></popup-zonder>

<popup-zonder ng-if="passwordPopup" title="'INFORMATION'" text="'Your password must contain at least 6 letters and/or numbers an be 20 characters maximum and must not contain special characters.'" closepopups="closepopups()"></popup-zonder >

<popup-zonder ng-if="passwordIdenticalPopup" title="'INFORMATION'" text="'Your passwords must be identical'" closepopups="closepopups()"></popup-zonder>


<img src="img/splashTriangles.png" id="triangles">

<ion-slide-box delegate-handle="registerSlider" on-slide-changed="slideHasChangedInRegister($index)" ng-init="disableSwipe()" show-pager="true" id="registerSlideBox">

<ion-slide>

<form name="registerFirstStepForm" ng-submit="nextStepRegister()" novalidate>
  <div id="divRegisterFirstStep">

    <div class="item item-icon-left item-icon-right labelZonder">
      <i class="icon iconZonderLeft"> 
        <img ng-if="mailIsValid" src="img/mail.png" width="25">
        <img ng-if="!mailIsValid" src="img/mailRed.png" width="25">
      </i>
      <input class="inputZonder" name="email" type="email" ng-model="userData.email" placeholder="email address" ng-maxlength="50" ng-change="checkEmail()" required>
      <i class="icon iconZonderRight">
        <img ng-click="displayMailPopup()" ng-if="!mailIsValid" src="img/error.png" width="20">
      </i>
    </div>

    <div class="item item-icon-left item-icon-right labelZonder">
      <i class="icon iconZonderLeft"> 
        <img ng-if="passwordIsValid" src="img/lock.png" width="25">
        <img ng-if="!passwordIsValid" src="img/lockRed.png" width="25">
      </i>
      <input class="inputZonder" name="password" ng-change="checkPasswordIsValid()" type="password" ng-model="userData.password"  placeholder="password" ng-maxlength="20" required>
      <i class="icon iconZonderRight">
        <img ng-if="!passwordIsValid" src="img/error.png" width="20" ng-click="displayPasswordPopup()">
      </i>
    </div>

    <div class="item item-icon-left item-icon-right labelZonder">
      <i class="icon iconZonderLeft"> 
        <img ng-if="identicPasswords" src="img/lock.png" width="25">
        <img ng-if="!identicPasswords" src="img/lockRed.png" width="25">
      </i>
      <input class="inputZonder"  ng-disabled="!passwordIsValidDirty" name="confirmpassword" type="password" ng-minlength="6" ng-model="userData.confirmPassword" placeholder="confirm password" ng-maxlength="20" ng-change="checkPasswords()" required>
      <i class="icon iconZonderRight">
        <img ng-if="!identicPasswords" src="img/error.png" width="20" ng-click="displayPasswordIdenticalPopup()">
      </i>
    </div>

    <div class="item item-icon-left item-icon-right labelZonder">
      <i class="icon iconZonderLeft"> 
        <img ng-if="pseudoIsValid" src="img/username.png" width="25">
        <img ng-if="!pseudoIsValid" src="img/usernameRed.png" width="25">
      </i>
      <input class="inputZonder inputLowerCaseOnly"  name="pseudo" type="text" ng-model="userData.pseudo" maxlength="15" minlength="4"placeholder="pseudo"  ng-change="checkPseudo()" required>
      <i class="icon iconZonderRight">
        <img ng-if="!pseudoIsValid" src="img/error.png" width="20" ng-click="displayPseudoPopup()">
      </i>
    </div>

  </div>

   <div id="divTermsAndConditionButton">
    <p class="termsAndConditions">
      I accept <a href="#">«Terms and Conditions»</a>
    </p>
    <button class="button buttonZonder buttonRegister">
      NEXT STEP
    </button>
  </div>
  
</form>

</ion-slide>

<ion-slide style="width:100vw;height:100vh">
<form name="registerSecondStepForm" novalidate>
  <div id="divRegisterSecondStep">

   <div ng-click="showActionSheetPhotoSource()" class="item item-icon-left item-icon-right labelZonder">
    <i class="icon iconZonderLeft"> 
      <img ng-if="!photoHasChanged" src={{userData.photo}}  width="25">
      <img class="imgLeftRound" ng-if="photoHasChanged" src={{userData.photo}} width="25">
    </i>
    <div class="textZonder">upload a profile picture</div>
    <i class="icon iconZonderRight"> 
      <img src="img/chevronRightGrey.png" width="7">
    </i>
  </div>

  <div class="item item-icon-left labelZonder">
   <i class="icon iconZonderLeft"> 
    <img ng-if="genderIsValid" src="img/gender.png" width="25">
    <img ng-if="!genderIsValid" src="img/genderRed.png" width="25">
  </i>
  <div class="labelContainerZonder">
    <div class="textCheckbox">are you a</div>  
    <div class="checkboxZonder">
      <label class="checkbox">
        <input type="checkbox" ng-change="checkMale()" ng-model="userData.isMale">
      </label>
      <span class="textCheckbox">male</span>
    </div>
    <div class="checkboxZonder">
      <label class="checkbox">
        <input type="checkbox" ng-change="checkFemale()" ng-model="userData.isFemale" >
      </label>
      <span class="textCheckbox">female</span>
    </div>
  </div>   
</div>

</div>

<div id="divTermsAndConditionButton">
  <p class="termsAndConditions">
    I accept <a href="#">«Terms and Conditions»</a>
  </p>
  <button class="button buttonZonder buttonRegister" ng-click="checkSecondStep()">
    REGISTER NOW
  </button>
</div>

</form>
</ion-slide>

</ion-slide-box>

<p ng-click="closeRegisterModal()" class="footerRegister">
  ALREADY HAVE AN ACCOUNT ?
</p>

</ion-modal-view>